{% extends 'base.html' %}

{% block title %}
    <title>Extracted Files</title>
{% endblock %}

{% block h1 %}
    <h1 class="display-5">List of files inside zip</h1>
{% endblock %}

{% block data %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function temp(){
        var newfiles = JSON.parse({{ json_files | tojson }})
        console.log(newfiles)

        $.ajax({
          url: '/',
          success: function(data) {
            for(let i=0; i<newfiles.length; i++){
                console.log(newfiles[i])
                var blob=new Blob([data]);
                var link=document.createElement('a');
                link.href=window.URL.createObjectURL(blob);
                link.download=newfiles[i];
                link.click();
            }
          }
});
}
</script>
<a href="{{ url_for('upload') }}"><button class="btn btn-info">Click to go back</button></a>
<button class="btn btn-info" onclick="temp()" style="float:right">Click to download all</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th>File</th>
            <th><div style="float:right">Download Link</div></th>
        </tr>
    </thead>
    <tbody>

    {% for f in files %}
        <tr>
            <td>{{ f }}</td>
            <td><a href="{{ url_for('download_individual', fname=f) }}" style="float:right">Click to Download</a> </td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}
