{% extends 'base.html' %}

{% block title %}
    <title>Extracted Files</title>
{% endblock %}

{% block h1 %}
    <h1 class="display-5">List of files inside zip</h1>
{% endblock %}

{% block data %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>File</th>
            <th>Download Link</th>
        </tr>
    </thead>
    <tbody>
    {% for f in files %}
        <tr>
            <td>{{ f }}</td>
            <td><a href="{{ url_for('download_individual', fname=f) }}">Click to Download</a> </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
