{% extends 'base.html' %}

{% block title %}
    <title>Extracted Files</title>
{% endblock %}

{% block h1 %}
    <h1 class="display-5">List of files inside zip</h1>
{% endblock %}

{% block data %}

<a href="{{ url_for('upload') }}"><button class="btn btn-info">Click to go back</button></a>
<a href="{{ url_for('download_all', file_names=files) }}" style="float:right"><button class="btn btn-info">Click to download all</button></a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>File</th>
            <th><div style="float:right">Download Link</div></th>
        </tr>
    </thead>
    <tbody>

    {% for f in files %}
        <tr>
            <td>{{ f }}</td>
            <td><a href="{{ url_for('download_individual', fname=f) }}" style="float:right">Click to Download</a> </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}
